body{
    display : flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 100%;
}
.pannel{
    height: 80vh;
    flex : 0.5;
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: aliceblue;
    cursor: pointer;
}
.pannel.active{
    flex: 5;
}
.pannel h3{
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.pannel.active h3{
    opacity: 1;
    /* transition: opacity 0.3s ease-in 0.4s; */
}

#pannel-1{
    background-image: url("https://media.istockphoto.com/id/1502800388/photo/bumblebee-visiting-white-peony.webp?b=1&s=170667a&w=0&k=20&c=cRzS-6zIwH0ECjHfQIsNmXX92KteMRpQssUiyx8oV8A=");
}

#pannel-2{
    background-image: url("https://media.istockphoto.com/id/1603458318/photo/bee-pollinating-a-desert-plant-sonoran-desert-arizona.webp?b=1&s=170667a&w=0&k=20&c=FqY2Jru6C7cdno_mAjUoI2Vdu6UaJ61gwH7nhF87cIM=");
}
#pannel-3{
    background-image: url("https://media.istockphoto.com/id/1987948084/photo/large-forest-wasps-hive-nest-on-tall-pine-trees-natural-honeycomb-making-process-in-wildlife.webp?b=1&s=170667a&w=0&k=20&c=bHK_B7nrwmpFG0E9h3nze8pBXqg_oTuiWoaV52b0o58=");

}
#pannel-4{
    background-image: url("https://media.istockphoto.com/id/1975531656/photo/bee-napping.webp?b=1&s=170667a&w=0&k=20&c=2dZrMwZpljTtMc6KAehYTP6JCymngOLVkBNQ_LjOZdg=");
}
#pannel-5{
    background-image: url("https://media.istockphoto.com/id/1455932995/photo/bee-sleeping-on-a-sunflower.webp?b=1&s=170667a&w=0&k=20&c=GXibVQnx19xP3HJ58AcCw6D3dICxZRnumr8DnENyhOI=");
}
